<ul class="navbar" id="myTopnav">
  <li class="icon"><a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a></li>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/category">Category</a></li>
  <li><a href="/tag">Tag</a></li>
  <li><a href="/about">About Me</a></li>
</ul>

<script style="text/javascript">
function myFunction() {
    var x = document.getElementById("myTopnav");
    let navbar = $('ul.navbar');
    let icon = $('li.icon');
    if (x.className === "navbar") {
        x.className += " responsive";
        icon.children('a').html('<');
    } else {
        x.className = "navbar";
        icon.children('a').html('☰');
    }
}
</script>
