/*
*For Mark space (Category & Tag)
*/
.mark-space{
    padding: 1em;
    background-color: powderblue;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.codinfox-mark{
    color: white;
    text-decoration: none;
    background-color: darkslategray;
    padding: 6px;
    border-radius: 6px;
    font-size: 12px;
}
/*
*For Category list
*/
.codinfox-category-list>li>h3>a{
  text-decoration:none;
  transition:all 500ms ease;
}
.codinfox-category-list>li>h3>a:hover{
  color: cadetblue;
}
.codinfox-category-list>li{
  list-style-type: circle;
  position: inherit;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease; /* Firefox 4 */
  -webkit-transition:all 500ms ease; /* Safari and Chrome */
  -o-transition:all 500ms ease; /* Opera */
}
.codinfox-category-list>li:hover{
  list-style-type: disc;
  color: cadetblue;
  transform: translate(-10px,0);
  -webkit-transform: translate(-10px,0); /** Chrome & Safari **/
  -o-transform: translate(-10px,0); /** Opera **/
  -moz-transform: translate(-10px,0); /** Firefox **/
}
.small-tags-space{
  background-color: darkslategray;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  padding: 4px;
  border-radius: 6px;
  color: white; 
}
.small-tags-list{
  font-size: 0.7em;
}
/*
* Expert & Read-more style
*/
.expert{
  font-size: 1em;
  color: steelblue;
}
.read-more{
  font-size: 0.7em;
  color: azure;
  background: lightslategrey;
  transition: all 1s ease;
}
.read-more:hover{
  color:lavenderblush;
  background: cornflowerblue;
}
